<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.mapper.TextboxInfoMapper">
    <select id="getProject" resultType="teamWeb.entity.TextboxInfo">
        select `id`,`text`,`sDate`,`eDate`,`class`
        from textbox
        <where>
            class = 5
        </where>
        order by sDate desc limit ${start},${end}
    </select>

    <select id="getProjected" resultType="teamWeb.entity.TextboxInfo">
        select `id`,`text`,`sDate`,`eDate`,`class`
        from textbox
        <where>
            class = 6
        </where>
        order by sDate desc limit ${start},${end}
    </select>

    <select id="getDire" resultType="teamWeb.entity.TextboxInfo">
        select `id`,`text`,`pictureUrl`,`class`
        from textbox
        <where>
            class = 7
        </where>
        limit ${start},${end}
    </select>

    <select id="getPlatform" resultType="teamWeb.entity.TextboxInfo">
        select `id`,`text`,`pictureUrl`,`class`
        from textbox
        <where>
            class = 2
        </where>
        limit ${start},${end}
    </select>

    <select id="getTeach" resultType="teamWeb.entity.TextboxInfo">
        select `id`,`text`,`pictureUrl`,`class`
        from textbox
        <where>
            class = 3
        </where>
        limit ${start},${end}
    </select>

    <select id="getBrief" resultType="teamWeb.entity.TextboxInfo">
        select `id`,`text`,`pictureUrl`,`class`
        from textbox
        <where>
            class = 4
        </where>
    </select>



    <select id="getEmulation" resultType="teamWeb.entity.TextboxInfo">
        select `id`,`text`,`fileUrl`,`class`
        from textbox
        <where>
            class = 1
        </where>
    </select>

    <select id="getRelation" resultType="teamWeb.entity.RelationInfo">
        select *
        from relation
    </select>
</mapper>