<?teamWeb.xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.award.mapper.AwardMapper">
    <select id="award" resultType="teamWeb.award.pojo.AwardBO">
        SELECT id,title,award_date as date,award_name as award
        FROM award
        WHERE award_type = "${type}"
        ORDER BY award_date desc LIMIT ${start},${end}
    </select>

    <select id="sumAward" resultType="Integer">
        SELECT COUNT(*) FROM award
        WHERE award_type = "${type}"
    </select>

    <select id="studentAward" resultType="teamWeb.teach.pojo.TeachAwardBO">
        SELECT id,award_name as name,title as teacher,award_date as grade,student
        FROM award
        WHERE award_type = "student"
        ORDER BY award_name desc
    </select>
</mapper>