<?teamWeb.xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.homepage.mapper.HomeMapper">
    <select id="pageViewCount" resultType="Integer">
        select view_count
        from page_view
    </select>

    <update id="addPageView">
        update page_view set view_count=view_count+1
    </update>
</mapper>