<?teamWeb.xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.teamSurvey.mapper.MemberInfoMapper">
    <select id="allMember" resultType="teamWeb.teamSurvey.pojo.MemberBO">
        select `id`,`pictureUrl`,`edu`,`name`,m_class AS mClass,pageUrl, `come_in_year` AS comeInDate,address
        from member
        <where>
            m_class = "${memberType}"
        </where>
        order by comeInDate,name limit ${start},${end}
    </select>

    <select id="enAllMember" resultType="teamWeb.teamSurvey.entity.MemberDO">
        select `id`,`pictureUrl`,`edu`,`name`,m_class AS mClass,pageUrl, `come_in_year` AS comeInDate
        from en_member
        <where>
            m_class = "${memberType}"
        </where>
        order by comeInDate,name limit ${start},${end}
    </select>

    <select id="teacherInfo" resultType="String">
        SELECT info,de_index
        FROM teacher_detail_member_map join teacher_detail on teacher_detail_member_map.detail_id = teacher_detail.id
        WHERE teacher_id= ${memberBOId}
        ORDER by de_index
    </select>



    <select id="student" resultType="teamWeb.teamSurvey.entity.MemberDO">
        select `id`,`pictureUrl`,`edu`,`name`,m_class AS mClass,pageUrl, `come_in_year` AS comeInDate
        from member
        <where>
            m_class ="${memberType}"
        </where>
        order by comeInDate,name
    </select>



    <select id="getAllDetail" resultType="teamWeb.teamSurvey.entity.MemberDO">
        select *
        <where>
            name=${name}
        </where>
    </select>

    <select id="getHomeMember" resultType="teamWeb.teamSurvey.entity.MemberDO">
        select `id`,`pictureUrl`,`name`,`mClass`
        from member
        order by mClass,name limit ${start},${end}
    </select>

    <select id="sumMember" resultType="int">
        SELECT COUNT(*) FROM member
        WHERE m_class = "${memberType}"
    </select>

    <select id="sumEnMember" resultType="int">
        SELECT COUNT(*) FROM en_member
        WHERE m_class = "${memberType}"
    </select>


    <select id="memberDetail" resultType="teamWeb.teamSurvey.pojo.MemberBO">
        SELECT id, name, m_class AS mClass, email, research AS direction, pictureUrl
        FROM member
        <where>
            id = ${id}
        </where>
    </select>

    <select id="enMemberDetail" resultType="teamWeb.teamSurvey.pojo.MemberBO">
        SELECT id, name, m_class AS mClass, email, research AS direction, pictureUrl
        FROM en_member
        <where>
            id = ${id}
        </where>
    </select>


    <select id="allPaper" resultType="teamWeb.teamSurvey.entity.PaperDO">
        SELECT member_paper_map.member_id, p.name, p.id AS id
        FROM member_paper_map join paper p on member_paper_map.paper_id = p.id
        WHERE member_id = ${memberId}
    </select>

    <select id="enAllPaper" resultType="teamWeb.teamSurvey.entity.PaperDO">
        SELECT en_member_en_paper_map.member_id, p.name, p.id AS id
        FROM en_member_en_paper_map join en_paper p on en_member_en_paper_map.paper_id = p.id
        WHERE member_id = ${memberId}
    </select>



    <select id="allEducation" resultType="teamWeb.teamSurvey.entity.EducationDO">
        SELECT e.id AS id,e.time, e.experience, member_education_map.member_id
        FROM member_education_map join education e on e.id = member_education_map.education_id
        <where>
            member_id= ${memberId}
        </where>
        ORDER BY e.time DESC
    </select>

    <select id="enAllEducation" resultType="teamWeb.teamSurvey.entity.EducationDO">
        SELECT e.id AS id,e.time, e.experience, en_member_en_education_map.member_id
        FROM en_member_en_education_map join en_education e on e.id = en_member_en_education_map.education_id
        <where>
            member_id= ${memberId}
        </where>
        ORDER BY e.time DESC
    </select>

    <select id="flowMember" resultType="teamWeb.interflow.pojo.FlowMemberBO">
        select `id`,`name`,`pageUrl` AS url
        from member
        <where>
            m_class ="${memberType}"
        </where>
        order by name
    </select>
</mapper>