<?teamWeb.xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.pubications.mapper.OutcomeInfoMapper">
    <select id="paperDetail" resultType="teamWeb.pubications.entity.OutcomeInfo">
        select `id`,`title`,`date`,`url`,`pictureUrl`,`p_class` AS pClass,`detail`,`keyword`
        from outcome
        <where>
            p_class = "论文"
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="enPaperDetail" resultType="teamWeb.pubications.entity.OutcomeInfo">
        select `id`,`title`,`date`,`url`,`pictureUrl`,`p_class` AS pClass,`detail`,`keyword`
        from en_outcome
        <where>
            p_class = "论文"
        </where>
        order by date desc limit ${start},${end}
    </select>



    <select id="patentDetail" resultType="teamWeb.pubications.entity.OutcomeInfo">
        select `id`,`title`,`p_class` AS pClass
        from outcome
        <where>
            p_class = "专利"
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="enPatentDetail" resultType="teamWeb.pubications.entity.OutcomeInfo">
        select `id`,`title`,`p_class` AS pClass
        from en_outcome
        <where>
            p_class = "专利"
        </where>
        order by date desc limit ${start},${end}
    </select>



    <select id="monographDetail" resultType="teamWeb.pubications.entity.OutcomeInfo">
        select `id`,`title`,`date`,`author`,`pub`,`pictureUrl`,`p_class` AS pClass
        from outcome
        <where>
            p_class = "专著"
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="enMonographDetail" resultType="teamWeb.pubications.entity.OutcomeInfo">
        select `id`,`title`,`date`,`author`,`pub`,`pictureUrl`,`p_class` AS pClass
        from en_outcome
        <where>
            p_class = "专著"
        </where>
        order by date desc limit ${start},${end}
    </select>


    <select id="sumOutcome" resultType="int">
        SELECT COUNT(*) FROM outcome
        <where>
            p_class = "${type}"
        </where>
    </select>

    <select id="sumEnOutcome" resultType="int">
        SELECT COUNT(*) FROM en_outcome
        <where>
            p_class = "${type}"
        </where>
    </select>


    <insert id="insertInfo">
        INSERT INTO outcome(`title`, `author`,`date`,`perio`,`url`,`proposer`,`inventor`,`authorization`,`pub`,`pictureUrl`,`pClass`) VALUES ("${title}", "${author}","${date}","${perio}","${url}","${proposer}","${inventor}","${authorization}","${pub}","${pictureUrl}","${pClass}")
    </insert>


</mapper>