<?teamWeb.xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.teamDynamics.mapper.ReportMapper">
    <select id="teamDynamic" resultType="teamWeb.teamDynamics.entity.ReportDO">
        select
        `id`,`title`,`date`,`text`,`picture_url` AS pictureUrl,`r_class` AS `rClass`, paper_name AS `paperName`
        from report
        <where>
            `r_class`= "动态"
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="sumReport" resultType="int">
        SELECT COUNT(*) FROM report
        WHERE r_class="${type}"
    </select>
    <select id="notice" resultType="teamWeb.teamDynamics.entity.ReportDO">
        select
        `id`,`title`,`date`,`text`,`r_class` AS `rClass`
        from report
        <where>
            `r_class`= "通知"
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="media" resultType="teamWeb.teamDynamics.entity.ReportDO">
        select
        `id`,`title`,`date`,`url`,`r_class` AS rClass,`text`,picture_url AS pictureUrl
        from report
        <where>
            `r_class`= "媒体"
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="consult" resultType="teamWeb.teamDynamics.entity.ReportDO">
        select
        `id`,`title`,`date`,`url`,`rClass`
        from report
        <where>
            `rClass`= 3
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="getReport" resultType="teamWeb.teamDynamics.entity.ReportDO">
        select
        `id`,`url`,`rClass`
        from report
        <where>
            `rClass`= 4
        </where>
        limit ${start},${end}
    </select>

    <select id="getNewsDetail" resultType="teamWeb.teamDynamics.entity.ReportDO">
        select
        `id`,`title`,`date`,`url`,`r_class` AS rClass
        from report
        <where>
            `rClass`= 2
        </where>
        order  by date desc limit ${start},${end}
    </select>
    <select id="allNewBOS" resultType="teamWeb.teamDynamics.entity.ReportDO">
        SELECT id, `date`, title, url, picture_url AS pictureUrl, text, r_class AS rClass
        FROM report
        ORDER BY date DESC LIMIT ${start},${end}
    </select>

    <select id="getNews" resultType="teamWeb.teamDynamics.entity.ReportDO">
        select *
        from report
        <where>
            id = ${id}
        </where>
    </select>
    <insert id="insertInfo">
        INSERT INTO report(`title`, `date`, `text`, `url`, `pictureurl`, `r_class`) VALUES ("${title}","${date}","${text}","${url}","${pictureUrl}", "${rClass}")
    </insert>
    <update id="updateInfo">
        update report
    </update>

    <delete id="delete">
        delete from report
        <where>
            `id`=${id}
        </where>
    </delete>

    <select id="reportDetail" resultType="teamWeb.teamDynamics.entity.ReportDO">
        SELECT `id`,`title`, `date`, `text`, r_Class AS rClass, url, picture_url AS pictureUrl,paper_name AS `paperName`
        FROM report
        <where>
            id = ${id}
        </where>
    </select>

    <select id="allFileUrl" resultType="teamWeb.teamDynamics.entity.NoticeFile">
        SELECT n.id, report_id AS id, file_address AS fileUrl, title
        FROM noticefile_report_map join noticefile n on n.id = noticefile_report_map.noticefile_id
        <where>
            report_id = "${reportId}"
        </where>
    </select>
</mapper>