<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.mapper.OutcomeInfoMapper">
    <select id="getPaperDetail" resultType="teamWeb.entity.OutcomeInfo">
        select `id`,`title`,`author`,`date`,`perio`,`url`,`pictureUrl`,`class`
        from outcome
        <where>
            class = 0
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="getPatentDetail" resultType="teamWeb.entity.OutcomeInfo">
        select `id`,`title`,`date`,`proposer`,`inventor`,`authorization`,`class`
        from outcome
        <where>
            class = 1
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="getMonographDetail" resultType="teamWeb.entity.OutcomeInfo">
        select `id`,`title`,`date`,`author`,`pub`,`pictureUrl`,`class`
        from outcome
        <where>
            class = 2
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="getOutcome" resultType="teamWeb.entity.OutcomeInfo">
        select *
        from outcome
        <where>
            id = ${id}
        </where>
    </select>
</mapper>