<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamWeb.mapper.ReportInfoMapper">
    <select id="teamDynamic" resultType="teamWeb.entity.ReportInfo">
        select
        `id`,`title`,`date`,`text`,`pictureUrl`,`class`
        from report
        <where>
            `class`= 1
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="notice" resultType="teamWeb.entity.ReportInfo">
        select
        `id`,`title`,`date`,`text`,`class`
        from report
        <where>
            `class`= 0
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="media" resultType="teamWeb.entity.ReportInfo">
        select
        `id`,`title`,`date`,`url`,`class`
        from report
        <where>
            `class`= 2
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="consult" resultType="teamWeb.entity.ReportInfo">
        select
        `id`,`title`,`date`,`url`,`class`
        from report
        <where>
            `class`= 3
        </where>
        order by date desc limit ${start},${end}
    </select>

    <select id="getReport" resultType="teamWeb.entity.ReportInfo">
        select
        `id`,`url`,`class`
        from report
        <where>
            `class`= 4
        </where>
        limit ${start},${end}
    </select>

    <select id="getNewsDetail" resultType="teamWeb.entity.ReportInfo">
        select
        `id`,`title`,`date`,`url`,`class`
        from report
        <where>
            `class`= 2
        </where>
        order  by date desc limit ${start},${end}
    </select>
    <select id="allNews" resultType="teamWeb.entity.ReportInfo">
        select
        *
        from report
        order  by date desc limit ${start},${end}
    </select>
</mapper>